.friens-info {
  padding-left: var(--horizontal);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.friends-info-friends {
  padding: 10px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: solid var(--li_gray);
  position: relative;
}

.friends-info-friends > i {
  position: absolute;
  right: 10px;
}

.friends-info-friends > img {
  height: var(--nor__img);
  width: var(--nor__img);
  background-color: rgb(241, 216, 241);
  border-radius: 29px;
}

.friends-info-friends > span {
  padding-left: 28px;
  font-size: 18px;
}

.friends-info-friends:last-child {
  margin-bottom: 60px;
}
